@import 'helpers';

html {
  font-size: #{$browser-context}px;
}

body {
  font-size: 15px;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

html,
body {
  height: 100%;
}

// spacing

$spacer: 1rem;

.m-0 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-2 {
  margin-left: $spacer * 0.5 !important;
}

.mr-2 {
  margin-right: $spacer * 0.5 !important;
}

.ml-4 {
  margin-left: $spacer * 0.75 !important;
}

.mr-4 {
  margin-right: $spacer * 0.75 !important;
}
